body {
  background-color: #E9E9E9;
  margin: 0;
}
.container {
  display: flex;
}
.left {
  flex: 0.45;
}
.right {
  flex: 1;
}
.title-img {
  width: 70%;
  height: 320px;
  padding-left: 24%;
  padding-top: 50px;
}
.title-img img {
  width: 100%;
}
.title {
  color: #2E2E2E;
  text-align: center;
}
.title h1 {
  font-weight: normal;
  margin-top: 165px;
}
.title-info {
  text-align: left;
  padding: 0 35px;
  font-size: 19px;
}
nav {
  margin-top: 21px;
}
.nav-link {
  width: 250px;
  text-align: center;
  border-top: 1px solid #2E2E2E;
  margin-left: 26%;
  padding: 22px 0;
}
.nav-link-last {
  border-bottom: 1px solid #2E2E2E;
}
nav a {
  color: #890101;
  text-decoration: none;
}
.font-type-1 {
  font-size: 13px;
  color: #890101;
}
.font-type-2 {
  color: #890101;
  font-weight: bold;
}
.person-image-title {
  text-align: center;
  margin-top: 32px;
  font-size: 26px;
  padding: 0 37px;
  margin-bottom: 24px;
}
hr {
  width: 30%;
  display: inline-block;
}
.left-hr {
  float: left;
}
.right-hr {
  float: right;
}
.person-image ul {
  list-style-type: none;
}
.person-image li {
  text-align: center;
  float: left;
  margin-right: 28px;
  margin-bottom: 20px;
  width: 28%;
}
.last-li {
  margin-right: 0px;
}
.person-image img {
  width: 100%;
  border-radius: 10px;
}
